<style media="screen">
  a.dropdown-item {
    color: #757686;
  }
  a.dropdown-item:hover {
    color: #007bff;
  }
  .dropdown-item:active {
    color:white;
    text-decoration:none;
    background-color:white;
  }
</style>
<nav class="navbar navbar-expand-md navbar-light bg-light shadow fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= client_booking_index_path %>">DANA CAR PARKING</a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item <%= 'active' if controller_name == 'booking' && action_name == 'index' %>">
          <a class="nav-link" href="<%= client_booking_index_path %>">Booking</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-users fa-lg"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="left: -115px;">
            <a class="dropdown-item" href="<%= client_profile_path(current_user) %>">Thông tin cá nhân</a>
            <a class="dropdown-item" href="#">Lịch sử gửi xe</a>
            <%= link_to 'Đăng xuất', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
