<div class="our-services">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="our-services-wrap">
          <h2>Dang Ky</h2>
          <div class="login-page">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <fieldset>

                <div class="form-group">
                  <%= f.label :email, class: 'control-label' %>
                  <%= f.email_field :email, autofocus: true, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :password, class: 'control-label' %>
                  <%= f.password_field :password, autofocus: true, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :password_confirmation, class: 'control-label' %>
                  <%= f.password_field :password_confirmation, autofocus: true, class: "form-control" %>
                </div>

                <div class="control-group">
                  <%= f.submit "Sign up", class: 'btn btn-success' %>
                </div>
              </fieldset>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
