<style media="screen">
  label.error {
    color: red;
    font-weight: 500;
    padding-left: 5px;
    font-size: 14px;
    margin-bottom: 0;
  }
</style>

<div id="wrapper">

  <%= render 'layouts/admin/sidebar' %>

  <div id="content-wrapper">

    <div class="container-fluid">

      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-users"></i> |
          Tạo mới nhân viên
        </div>
        <div class="card-body">
          <div class="col-8">
            <%= form_for @user, url: admin_managers_path do |f| %>
              <div class="form-group">
                <%= f.label :email ,"Email"%>
                <%= f.email_field :email, class: 'form-control', required: true %>
              </div>
              <%= fields_for :profile do |ff| %>
                <div class="form-group">
                  <%= ff.label :first_name,"Họ và tên lót" %>
                  <%= ff.text_field :first_name, class: 'form-control', required: true %>
                </div>
                <div class="form-group">
                  <%= ff.label :last_name,"Tên" %>
                  <%= ff.text_field :last_name, class: 'form-control', required: true %>
                </div>
                <div class="form-group">
                  <%= ff.label :phone,"Số điện thoại" %>
                  <%= ff.text_field :phone, class: 'form-control phone', required: true %>
                </div>
                <div class="form-group">
                  <%= ff.label :address,"Địa chỉ" %>
                  <%= ff.text_field :address, class: 'form-control', required: true %>
                </div>
              <% end %>
              <div class="form-group">
                <%= f.submit 'Tạo mới', class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>

        </div>
      </div>

    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright © DANA CAR PARKING</span>
        </div>
      </div>
    </footer>

  </div>
  <!-- /.content-wrapper -->

</div>
