<style media="screen">
  ul.nav-tabs li.nav-item a:not(.active) {
    color: #007bff;
  }
  div.bootstrap.snippet {
    margin-top: 80px;
    font-size: 14px;
  }
  a.nav-link {
    outline: none;
  }
  .avatar {
    width: 202px;
    height: 202px;
  }
</style>
<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-10">
      <h3 style="margin-left: 10px;">Hi, <%= @profile.first_name %> !</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3"><!--left col-->

      <div style="position: relative;">
        <% if @user.avatar.attached? %>
        <img src="<%= url_for(@user.avatar) %>" class="avatar img-circle img-thumbnail" alt="avatar">
        <% else %>
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <% end %>

        <a data-toggle="modal" data-target="#avatarModal">
          <i class="fas fa-pen-alt fa-lg" style="right: 55px; top: 1px; position: absolute;"></i>
        </a>

      </div>
      <br>

    </div><!--/col-3-->
    <div class="col-sm-9">
      <h2>Account Information</h2>
      <br>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home">Personal Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu1">Password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu2">Vehicles</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
          <h3>Personal Information</h3>
          <%= form_for @profile, url: client_profile_path, method: :put do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
            <div class="form-group">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, class: 'form-control', readonly: true %>
            </div>
            <div class="form-group">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, class: 'form-control', readonly: true %>
            </div>
            <div class="form-group">
              <%= f.label :phone %>
              <%= f.text_field :phone, class: 'form-control', readonly: true %>
            </div>
            <div class="form-group">
              <%= f.label :address %>
              <%= f.text_field :address, class: 'form-control', readonly: true %>
            </div>
            <div id="div-update" style="display: none;">
              <%= f.submit "Save Change", class: 'btn btn-primary' %>
              <button class="btn btn-secondary btn-cancel" style="margin-left: 15px;">Cancel</button>
            </div>
            <div id="div-change">
              <button class="btn btn-info btn-change">Change</button>
            </div>
          <% end %>
        </div>
        <div id="menu1" class="container tab-pane fade"><br>
          <h3>Change your Password</h3>
          <%= form_for @user, url: update_password_client_profile_index_path, method: :patch do |f| %>
          <div class="form-group">
            <%= f.label :current_password, "Current Password: " %>
            <%= f.password_field :current_password, :autocomplete => "off", class: 'form-control'  %>
          </div>
          <div class="form-group">
            <%= f.label :password, "Password: " %>
            <%= f.password_field :password, :autocomplete => "off", class: 'form-control'  %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, "Password confirmation: " %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.submit 'Update', class: 'btn btn-primary' %>
          </div>
          <% end %>
        </div>
        <div id="menu2" class="container tab-pane fade">
          <h3 style="padding: 10px;">Vehicles</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Entry</th>
                <th>Entry</th>
                <th>Entry</th>
                <th>Entry</th>
                <th>Entry</th>
                <th>Entry</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ยง</td>
                <td>$</td>
                <td>%</td>
                <td>&</td>
                <td>/</td>
                <td>!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div><!--/col-9-->
</div><!--/row-->

<!-- Modal -->
<div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload your Avatar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for @user, url: upload_avatar_client_profile_index_path, method: :patch do |f| %>
      <div class="modal-body">
        <div class="input-group">
          <div class="custom-file">
            <%= f.file_field :avatar, class: 'custom-file-input' %>
            <%= f.label :avatar, 'Choose file', class: 'custom-file-label' %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit 'Save Change', class: 'btn btn-primary' %>
        <% end %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
