<style media="screen">
  ul.nav-tabs li.nav-item a:not(.active) {
    color: #007bff;
  }
  div.bootstrap.snippet {
    margin-top: 80px;
    font-size: 14px;
  }
  a.nav-link {
    outline: none;
  }
  .avatar {
    width: 202px;
    height: 202px;
  }
</style>
<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-10">
      <h3 style="margin-left: 10px;">Xin chào, <%= @profile.first_name %> !</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3"><!--left col-->

      <div style="position: relative;">
        <% if @user.avatar.attached? %>
        <img src="<%= url_for(@user.avatar) %>" class="avatar img-circle img-thumbnail" alt="avatar">
        <% else %>
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <% end %>

        <a data-toggle="modal" data-target="#avatarModal">
          <i class="fas fa-pen-alt fa-lg" style="right: 55px; top: 1px; position: absolute;"></i>
        </a>

      </div>
      <br>

    </div><!--/col-3-->
    <div class="col-sm-9">
      <h2>Thông tin tài khoản</h2>
      <br>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home">Thông tin cá nhân</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu1">Mật khẩu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu2">Phương tiện của bạn</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
          <h3>Thông tin của bạn</h3>
          <%= form_for @profile, url: client_profile_path, method: :put, html: { id: 'change_profile' } do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
            <div class="form-group">
              <%= f.label :first_name,"Họ và tên lót" %>
              <%= f.text_field :first_name, class: 'form-control', readonly: true %>
            </div>
            <div class="form-group">
              <%= f.label :last_name,"Tên" %>
              <%= f.text_field :last_name, class: 'form-control', readonly: true %>
            </div>
            <div class="form-group">
              <%= f.label :phone, "Số điện thoại" %>
              <%= f.text_field :phone, class: 'form-control', readonly: true %>
            </div>
            <div class="form-group">
              <%= f.label :address,"Địa chỉ" %>
              <%= f.text_field :address, class: 'form-control', readonly: true %>
            </div>
            <div id="div-update" style="display: none;">
              <%= f.submit "Lưu thay đổi", class: 'btn btn-primary' %>
              <button class="btn btn-secondary btn-cancel" style="margin-left: 15px;">Hủy</button>
            </div>
            <div id="div-change">
              <button class="btn btn-info btn-change">Cập nhật</button>
            </div>
          <% end %>
        </div>
        <div id="menu1" class="container tab-pane fade"><br>
          <h3>Thay đổi mật khẩu</h3>
          <%= form_for @user, url: update_password_client_profile_index_path, method: :patch, html: { id: 'change_password' } do |f| %>
          <div class="form-group">
            <%= f.label :current_password, "Mật khẩu hiện tại: " %>
            <%= f.password_field :current_password, :autocomplete => "off", class: 'form-control'  %>
          </div>
          <div class="form-group">
            <%= f.label :password, "Mật khẩu mới: " %>
            <%= f.password_field :password, :autocomplete => "off", class: 'form-control'  %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, "Xác nhận mật khẩu mới: " %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.submit 'Cập nhật mật khẩu', class: 'btn btn-primary' %>
          </div>
          <% end %>
        </div>
        <div id="menu2" class="container tab-pane fade">
          <button class="btn btn-outline-primary" style="margin: 10px;" data-toggle="modal" data-target="#vehicleModal">
            <i class="fas fa-plus-circle"></i>
          </button>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Tên xe</th>
                <th>Số chỗ ngồi</th>
                <th>Biển số</th>
              </tr>
            </thead>
            <tbody>
              <% @vehicles.each_with_index do |v,i| %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= v.vehicle_name %></td>
                <td><%= v.vehicle_type %></td>
                <td><%= v.number_plate %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div><!--/col-9-->
</div><!--/row-->

<!-- Modal -->
<div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cập nhật ảnh đại diện</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for @user, url: upload_avatar_client_profile_index_path, method: :patch do |f| %>
      <div class="modal-body">
        <div class="input-group">
          <div class="custom-file">
            <%= f.file_field :avatar, class: 'custom-file-input' %>
            <%= f.label :avatar, 'Choose file', class: 'custom-file-label' %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit 'Cập nhật', class: 'btn btn-primary' %>
        <% end %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="vehicleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm Phương Tiện</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for @vehicle, url: create_vehicle_client_profile_index_path do |f| %>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <%= f.label :number_plate, 'Biển kiểm soát:' %>
            </div>
            <div class="col-md-7">
              <%= f.text_field :number_plate, class: 'form-control bks', style: 'text-transform: uppercase;' %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <%= f.label :vehicle_name, 'Loại phương tiện:' %>
            </div>
            <div class="col-md-7">
              <%= f.text_field :vehicle_name, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <%= f.label :vehicle_type, 'Số chỗ ngồi:' %>
            </div>
            <div class="col-md-7">
              <%= f.select :vehicle_type, options_for_select(['4 - 7', '12 - 16', '> 16']), {}, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit 'Lưu', class: 'btn btn-primary' %>
        <% end %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
