<style media="screen">
  .content-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-end {
    text-align: center;
  }
  input.error {
    margin: 0;
    margin-top: 20px;
  }
  label.error {
    color: red;
    font-weight: 500;
    padding-left: 5px;
    font-size: 14px;
    margin-bottom: 20px;
  }
</style>

<div class="wrapper">
  <div class="container">
    <%= render 'layouts/home/header' %>

    <div class="row content-center" style="width: 100%">
      <h3>Bạn có gì muốn nhắn nhủ gì?</h3>
    </div>
    <div class="form-gop-y">
      <div class="row content-center">
        <span><i class="fa fa-envelope" aria-hidden="true"></i>danaparking.com.vn</span>
        <span><i class="fa fa-phone" aria-hidden="true"></i>1900000</span>
      </div>
      <%= form_for @helper, url: help_path do |f| %>
        <div class="form-row">
          <div class="col-4">
            <%= f.text_field :name, class: 'form-control', placeholder: 'Họ và tên' %>
          </div>
          <div class="col-4">
            <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
          </div>
          <div class="col-4">
            <%= f.phone_field :phone, class: 'form-control', placeholder: 'Số điện thoại' %>
          </div>
          <div class="col-12">
            <%= text_area(:helper, :content, rows: 5, class: 'form-control', placeholder: 'Nội dung') %>
          </div>
          <div class="col-12 flex-end">
            <%= f.submit 'Gửi', class: 'btn btn-outline-success' %>
          </div>
        </div>
      <% end %>
    </div>

</div>
</div>
