<div class="wrapper">
  <div class="container">
    <!-- HEADER -->
    <div class="header-container">

      <div class="top-header">
        <div class="right-nav float-right">
          <ul>
            <li><a href="<%= new_user_session_path %>">Đăng nhập</a></li>
            <li><a href="<%= new_user_registration_path %>">Đăng ký</a></li>
          </ul>
        </div>
      </div>

      <div class="bot-header">
        <a class="brand-logo" href="<%= root_path %>"><img src="https://github.com/hmtoan96/theme-parking/raw/master/logo.png"></a>
        <div class="navigation float-right">
          <ul>
            <li><a href="<%= root_path %>">Trang Chủ</a></li>
            <li><a href="<%= parking_path%>">Bãi xe</a></li>
            <li><a href="<%= price_path %>">Bảng giá</a></li>
            <li><a href="<%= help_path %>">Trợ giúp</a></li>
          </ul>
        </div>
      </div>
      <div class="row h-100" style="width: 100%">
        <div class="mt-4 col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
          <header class="entry-header">
             <h1>DANA <br>Car Parking</h1>
          </header>

          <div class="entry-content mt-4">
            <p>Do nhu cầu kiểm soát an ninh trật tự tại các bãi đỗ xe của các nhà máy, khu chung cư, trung tâm thương mại,
                  siêu thị lớn với lượng xe ra vào lớn dẫn tới khâu quản lý tại các bãi đậu xe trở nên khó khăn,
                  phức tạp quá tải.
                  Để đảm bảo an ninh trật tự, bảo vệ tài sản của mỗi cá nhân hệ thống quản lý bãi đỗ xe
                  thông minh ra đời đã đáp ứng được nhu cầu cần thiết,
                   cấp bách giảm thiểu rủi ro và sức lực cho con người.</p>
          </div>

          <footer class="entry-footer d-flex flex-wrap align-items-center mt-4">

          </footer>
        </div>
        <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">

          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="<%= asset_path 'driver.jpg' %>" style="max-width: 100%" alt="">
              </div>
              <div class="carousel-item">
                <img src="<%= asset_path 'slide-1.jpeg' %>" style="max-width: 100%" alt="">
              </div>
              <div class="carousel-item">
                <img src="<%= asset_path 'slide-2.jpeg' %>" style="max-width: 100%; max-height: 277px" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="maps col-12 col-lg-12 d-flex flex-column justify-content-center align-items-start">

            <h1 style="margin-left: 236px" class="text-center">Chúng tôi dẫn đường cho bạn</h1>

          <iframe height="400" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=Da%20Nang+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/">Create route map</a></iframe></div><br />
        </div>
        <div class="our-service">
          <h1 class="text-center">Chúng tôi đã làm gì?</h1>
        </div>
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
  <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
  <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
  <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
</ol>
<div class="carousel-inner">
                        <div class="carousel-item active">
                                <img src="<%=asset_path '01_hero_banner.jpg' %>" style="max-width: 100%" alt="">
                                <div class="service-item">
                                  <h4>Giá cả phải chăng</h4>
                                  <p>Mức giá rẻ phù hợp cho mọi người. Bạn chỉ việc trả tiền đúng trên trang web
                    và an tâm tận hưởng bãi xe.</p>
                                  <a href="<%= price_path %>" class="button gradient-bg">Xem thêm</a>
                                </div>
                              </div>
                              <div class="carousel-item">
                                <img src="<%=asset_path '02_hero_banner.jpg' %>" style="max-width: 100%" alt="">
                                <div class="service-item">
                                  <h4>Cải thiện dịch vụ.</h4>
                                  <p>Dịch vụ luôn luôn được cải thiện tốt nhất để phục vụ khách hàng.</p>
                                  <!-- <a href="javascript:void(0)" class="button gradient-bg">Read more</a> -->
                                </div>
                              </div>
                              <div class="carousel-item">
                                <img src="<%=asset_path '03_hero_banner.png' %>" style="max-width: 100%;" alt="">
                                <div class="service-item">
                                  <h4>Lựa chọn tốt hơn</h4>
                                  <p>Là một lựa chọn chủ động cho bạn. Khi đã nắm bắt lấy thông tin về bãi đậu và đặt trước một chỗ cho xe của mình để không phải loay hoay tìm chỗ để bên đường.</p>
                                  <!-- <a href="javascript:void(0)" class="button gradient-bg">Read more</a> -->
                                </div>
                              </div>
                            </div>
                </div>
<h1 class="text-center" style="margin: 30px 0">Chúng tôi sẵn sàng trợ giúp</h1>
<div class="subscribe-banner">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">

          <p style="color: white">Nhận hỗ trợ chỉ với vài thao tác chạm. Bạn cũng có thể tìm câu trả lời cho những thắc mắc của mình ở phần Trợ giúp.</p>
          <h4 style="margin-top: 10px; text-decoration: underline;"><a style="color: white" href="<%= help_path %>">Click vào đây >>></a></h4>
</div>
</div>
</div>
</div>
<footer class="site-footer">
<div class="footer-widgets">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="foot-about">
          <h2><a href="javascript:void(0)">DANA PARK</a></h2>

            <p>Là nơi để bạn trao trọn niềm tin.</p>

            <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> DANACARPARKING</p>
            </div><!-- .foot-about -->
          </div><!-- .col -->

      <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
        <div class="foot-contact">
          <h2>Liên hệ</h2>
          <ul class="p-0 m-0">
            <li><span>Địa chỉ :</span></li>
            <li><span>Điện thoại:</span></li>
            <li><span>Email :</span></li>
          </ul>
        </div>
      </div><!-- .col -->

      <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
        <div class="foot-links">
          <h2>Usefull Links</h2>

          <ul class="p-0 m-0">
            <li><a href="javascript:void(0)">Home</a></li>
          </ul>
        </div><!-- .foot-links -->
      </div><!-- .col -->
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- .footer-widgets -->
</footer><!-- .site-footer -->
</div>
</div>
</div>
