<div class="container">
  <div class="form-group" style="margin-top: 20px;">
    <div class="row">
      <div class="col-md-3 ">
        <div class="list-group">
          <a href="javascript:void(0)" id="a-profile" class="list-group-item list-group-item-action active">Thong tin</a>
          <a href="javascript:void(0)" id="a-password" class="list-group-item list-group-item-action">Mat Khau</a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-body" id="tab-profile">
            <div class="row">
              <div class="col-md-12">
                <h4>Thong tin ca nhan</h4>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= form_for @profile, url: manager_profile_path, method: :put do |f| %>
                  <div class="form-group row">
                    <label class="col-4 col-form-label">Ho</label>
                    <div class="col-8">
                      <%= f.text_field :first_name, class: 'form-control', placeholder: 'Ho' %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-4 col-form-label">Ten</label>
                    <div class="col-8">
                      <%= f.text_field :last_name, class: 'form-control', placeholder: 'Ten' %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-4 col-form-label">Dien Thoai</label>
                    <div class="col-8">
                      <%= f.text_field :phone, class: 'form-control', placeholder: 'Dien Thoai' %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-4 col-form-label">Dia Chi</label>
                    <div class="col-8">
                      <%= f.text_field :address, class: 'form-control', placeholder: 'Dia Chi' %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-4 col-8">
                      <%= f.submit 'Luu', class: 'btn btn-primary' %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <div class="card-body"  id="tab-password" style="display: none;">
            <div class="row">
              <div class="col-md-12">
                <h4>Thay doi Mat Khau</h4>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= form_for @user, url: manager_profile_path, method: :put do |f| %>
                  <div class="form-group row">
                    <label class="col-4 col-form-label">Mật khẩu mới: </label>
                    <div class="col-8">
                      <%= f.password_field :password, :autocomplete => "off", class: 'form-control'  %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-4 col-form-label">Xác nhận mật khẩu mới: </label>
                    <div class="col-8">
                      <%= f.password_field :password_confirmation, class: 'form-control' %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-4 col-form-label">Mật khẩu hiện tại: </label>
                    <div class="col-8">
                      <%= f.password_field :current_password, :autocomplete => "off", class: 'form-control'  %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-4 col-8">
                      <%= f.submit 'Cap nhat', class: 'btn btn-primary' %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
