<h3 class="text-center" style="margin: 15px">Lịch sử thanh toán</h3>
<div class="form-group">
  <div class="row">
    <div class="col-2" style="max-width: 12%"></div>
    <div class="col-3">
      <%= link_to 'Xuất file', payment_history_manager_profile_path(@user, format: :xlsx), class: 'btn btn-outline-info' %>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="row">
    <div class="col-9 mx-auto">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" style="width: 5%">#</th>
            <th scope="col">Biển Kiểm Soát</th>
            <th scope="col">Giờ Vào</th>
            <th scope="col">Giờ Ra</th>
            <th scope="col">Thuê Theo</th>
            <th scope="col">Tổng Tiền</th>
          </tr>
        </thead>
        <tbody>
          <% if @payments.size == 0 %>
          <tr>
            <td colspan="6">Chưa có dữ liệu</td>
          </tr>
          <% end %>
          <% @payments.each_with_index do |p,i| %>
          <tr>
            <% if params[:page].present? && params[:page].to_i > 1 %>
            <th scope="row"><%= (i+1) + ((params[:page].to_i - 1) * 5) %></th>
            <% else %>
            <th scope="row"><%= i+1 %></th>
            <% end %>
            <td><%= p.number_plate %></td>
            <td><%= p.timein.strftime("%d-%m-%Y %H:%M:%S") %></td>
            <td><%= p.timeout.strftime("%d-%m-%Y %H:%M:%S") %></td>
            <td><%= p.is_monthly ? 'Tháng' : 'Ngày' %></td>
            <td><%= number_with_delimiter(p.subtotal, delimiter: ".") %>đ</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-9 mx-auto">
      <%= will_paginate @payments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-3" style="margin-left: 55px">
      <a href="<%= manager_booking_index_path %>" class="btn btn-outline-info">Quay Lại</a>
    </div>
  </div>
</div>
