<div class="header-container">

  <div class="top-header">
    <div class="right-nav float-right">
      <ul>
        <li><a href="<%= new_user_session_path %>">Đăng nhập</a></li>
        <li><a href="<%= new_user_registration_path %>">Đăng ký</a></li>
      </ul>
    </div>
  </div>

  <div class="bot-header">
    <a class="brand-logo" href="<%= root_path %>"><img src="<%=asset_path 'logo.png' %>"></a>
    <div class="navigation float-right">
      <ul>
        <li><a href="<%= root_path %>">Trang Chủ</a></li>
        <li><a href="<%= parking_path%>">Bãi xe</a></li>
        <li><a href="<%= price_path %>">Bảng giá</a></li>
        <li><a href="<%= help_path %>">Trợ giúp</a></li>
      </ul>
    </div>
  </div>
</div>
