<!DOCTYPE html>
<html>
  <head>
    <title>DanaParking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <%= stylesheet_link_tag    'client/application' %>
  </head>

  <body>
    <%= render 'layouts/client/header' %>
    <%= yield %>

    <%= javascript_include_tag 'client/application', params[:controller] %>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
